* {
    font-family: monospace, fantasy;
}

.top,
.mid {
    text-align: center;
    color: #47949f;
}

.top {
    border: 10px solid #51afb1;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

.mid {
    color: white;
    background-color: #47949f;
    padding: 20px 10px;
    max-width: 600px;
    margin: 20px auto;
}

img {
    display: block;
    margin: 0 auto;
}

.center {
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
}

p,
li {
    font-size: 17px;
}

h3 {
    color: #51afb1;
    font-size: 28px;
    text-align: center;
}

.ing {
    font-weight: bold;
    color: white;
    background-color: #51afb1;
    text-align: center;
    padding: 30px 60px;
    max-width: 300px;
    margin: 10px auto;
}

ol {
    border: 1px solid #47949f;
    padding: 30px 60px;
    max-width: 1200px;
    margin: 10px auto;
}

.go {
    color: #51afb1;
    font-size: 20px;
}

.fin {
    color: #47949f;
    font-size: 25px;
}

.fin,
.go {
    text-align: center;
    font-weight: bold;
}

button {
    font-size: 17px;
}

.clicky {
    width: 425px;
    margin: 20px auto;
}

.ga {
    width: 200px;
    margin: 0 auto;
}

.thit {
    width: 200px;
    margin: 0 auto;
}

.che {
    width: 200px;
    margin: 0 auto;
}

.click-home {
    width: 125px;
    margin: 0 auto;
}

.home {
    width: 100px;
    margin: 0 auto;
}