.top {
    text-align: center;
    font-family: monospace, fantasy;
    color: #47949f;
    font-size: 50px;
    margin-top: 175px;
}

.list {
    font-size: 20px;
    font-family: monospace, fantasy;
    color: #51afb1;
    background: #47949f;
    width: 500px;
    margin: 0 auto;
    padding: 30px 0px;
}

a {
    display: block;
    box-sizing: border-box;
}

.ga {
    background: white;
    text-align: center;
    border: 10px solid #47949f;
    width: 300px;
    margin: 0 auto;
    padding: 20px 0px;
}

.thit {
    background: white;
    text-align: center;
    border: 10px solid #47949f;
    width: 300px;
    margin: 0 auto;
    padding: 20px 0px;
}

.che {
    background: white;
    text-align: center;
    border: 10px solid #47949f;
    width: 300px;
    margin: 0 auto;
    padding: 20px 0px;
}